/* GLOBAL APPLICATION STYLES */

body {
  margin: 0;
  font-family: Circular, Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 42px;
  font-weight: 900;
  color: rgb(, 11, 23);
  line-height: 1.3;
  margin: 18px auto 24px;
  letter-spacing: -0.7px;
}
h2 {
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(103, 110, 139);
  letter-spacing: 0.2px;
  line-height: 1.3;
}

span {
  font-weight: 300;
  color: rgb(103, 110, 139);
  letter-spacing: 0.2px;
  line-height: 1.3;
}

/* LAYOUT */
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding-bottom: 200px;
}
/* UTILITIES */
.flex-order-1 {
  order: 1;
}
.flex-order-2 {
  order: 2;
}
.flex-order-3 {
  order: 3;
}
.align-center {
  text-align: center;
}
/* COLOR */
/* 
success:
#42c27e;

dark: 
rgb(9, 11, 23);

white: 
#fafffe; 

light:
#cdf989

*/
.color-white {
  color: #fafffe;
}
.bg-white {
  background-color: #fafffe;
}
.color-light,
.success {
  color: #cdf989;
}
.bg-light {
  background-color: #cdf989;
}

.label--small {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.label--big {
  font-weight: 600;
  color: rgb(9, 11, 23);
  font-size: 20px;
  text-transform: uppercase;
}

.warning {
  color: firebrick;
}
