.player-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player-wrapper .active {
  display: flex;
  flex-direction: row;
  background: #42c27e;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.player-status {
  margin-right: 10px;
}
